@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

$light-gray: hsl(212, 45%, 89%);
$grayish-blue: hsl(220, 15%, 55%);
$dark-blue: hsl(218, 44%, 22%);

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Outfit', arial;
    background: $light-gray;

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin: 1em;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;

    background: white;
    width: 320px;
    border-radius: 1.4em;
    box-shadow: 3px 3px 25px #adb0b8;
    padding: 20px;

    img {
        width: 100%;
        border-radius: 1em;
    }

    .text {
        margin: 15px;
        text-align: center;

        .subtitle {
            color: $dark-blue;
            font-size: 25px;
            font-weight: 700;
            margin-bottom: 20px;
        }

        .desc {
            color: $grayish-blue;
            font-size: 17px;
        }
    }
}

.attribution {
    font-size: 11px;
    text-align: center;

    a {
        color: hsl(228, 45%, 44%);
    }
}