@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

$light-gray: hsl(212, 45%, 89%);
$grayish-blue: hsl(220, 15%, 55%);
$dark-blue: hsl(218, 44%, 22%);

body {
    font-family: 'Outfit', arial;
}


.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
